/* Filter */
/* .section-filter {
}
.section-filter .filter {
} */
.section-filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--bg-color-secondary);
}
.section-filter .button:hover,
.section-filter .button:focus {
  color: var(--accent-white-color);
  background: var(--bg-color-accent);
}
/* Works */
/* .section-work {
}
.section-work .work {
} */
.section-work .work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.section-work .work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
